body{
  background: black;
}


.logo{

  height: 180px;
  width: 195px;
}

.loginlayout{
  color: white;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.dash{

  color: white;
  display: flex;
  margin-top: 10px;
  margin-left: 75px;
  margin-right: 75px;
  flex-direction: column;
  align-content: center;

}

header{
  display: flex;
  flex-wrap: wrap;
  word-spacing: 6px;
  justify-content: space-evenly;
  font-size: 15px;
  background: #214458;
}

nav{
  display: flex;
  align-items: center;
}

.navcontainer{
  background: black;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li{
    margin-left: 30px;
    margin-bottom: 50px;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}




form{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}